html {
  background: white;
  height: 100%;

}
body {
  padding: 20px;
  height: 100%;
  margin: 0; 
}

*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.calc-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case {
  
  width: 400px;
  height: 500px;
  min-width: 400px;
  min-height: 500px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  padding: 5px;
  background: rgba(240,240,240,.1);
  /*background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 35%, rgba(240,240,240,1) 100%);*/
  .display-wrapper {
    width: calc(100% - 10px);
    height: 22%;
    
    margin: 5px;

  }

  .controls {
    width: 100%;
    height: 72%;
    padding: 5px; 
    display: flex;  
    flex-direction: column;
  }

  .row {
    width: 100%;
    height: 20%;
    display: flex;
  }

  .button-wrapper {
    width: calc(25% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    
  }
  .button-wrapper.align-end {
    align-self: flex-end;
  }
}



.display {
  width: 100%;
  height: 100%;
  margin: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*border: 1px inset;*/
  background: rgba(240,240,240,.3);
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);
  border-radius: 2px;
  color: rgba(80,80,80,1);
  white-space:nowrap;
  overflow:hidden;
}

.display.alert {
  animation-name: alert;
  animation-iteration-count: 3;
  animation-duration: 100ms;
  
  animation-timing-function: ease-in-out;
  /*border-color: rgba(255,0,0,0.75);*/
}

@keyframes alert {
  from {
    border-color: #d9d9d9;

  }

  to {
    border-color: rgba(255,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.75);
  }
}
/*from https://css-tricks.com/overriding-default-button-styles/*/
button.button {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgba(214,214,214,1);
/*  background: -moz-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(207,207,207,1) 35%, rgba(199,199,199,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(214,214,214,1)), color-stop(35%, rgba(207,207,207,1)), color-stop(100%, rgba(199,199,199,1)));
  background: -webkit-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(207,207,207,1) 35%, rgba(199,199,199,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(207,207,207,1) 35%, rgba(199,199,199,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(207,207,207,1) 35%, rgba(199,199,199,1) 100%);
  background: linear-gradient(135deg, rgba(214,214,214,1) 0%, rgba(207,207,207,1) 35%, rgba(199,199,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c7c7c7', GradientType=1 );*/
  /*color: #606060;*/
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    background: #C0C0C0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: 1px solid #c6c6c6;
  }

  /*&:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }*/

  &:active {
    transform: scale(0.99);
  }


}
