html {
  background: white;
  height: 100%;

}
body {
  padding: 20px;
  height: 100%;
  width: 100%;
  margin: 0; 
  background: white;
  }

*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.calc-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case {
  
  width: 400px;
  height: 450px;
  min-width: 400px;
  min-height: 450px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: rgba(240,240,240,1);

  .display-wrapper {
    width: 100%;
    height: 20%;
    padding: 5px; 

  }

  .controls-wrapper {
    width: 100%;
    height: 75%;
    padding: 5px; 
    display: flex;  
    flex-direction: column;
  }

  .row {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .button-wrapper {
    width: calc(25% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    
  }

}



.display {
  width: calc(100% - 10px);
  height: calc(100% - 5px);
  margin: 5px 5px 0px 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: white;
  border-radius: 2px;
  color: rgba(80,80,80,.9);
  white-space:nowrap;
  overflow:hidden;
}


.display.alert {
  animation-name: alert;
  animation-iteration-count: 3;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

@keyframes alert {
  from {
    border-color: #d9d9d9;

  }

  to {
    border-color: rgba(255,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(255,0,0,0.75);
  }
}

/*from https://css-tricks.com/overriding-default-button-styles/*/
button.button {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 2px;
  padding: 1rem 1rem;
  margin: auto;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background 100ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:active {
    transform: scale(0.99);
  }

  &.button-equals {
    background: #FFF099;
    border: 1px solid #EEDF88;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    &:hover {
      background: #FFEA72;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: 1px solid #DFD07D;
    }
  }

  &.button-clear {
    background: #ff9797;
    border: 1px solid #ff9090;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    &:hover {
      background: #ff8787;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: 1px solid #ff5757;
    }
  }
  &.button-digit {
    background: #D6D6D6;
    border: 1px solid #CFCFCF;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    &:hover {
      background: #D0D0D0;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: 1px solid #C0C0C0;
    }
  }

  &.button-sign {
    background: #C0C0FF;
    border: 1px solid #C4C4FF;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    &:hover {
      background: #b6b6FF;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: 1px solid #A6A6FF;
    }
  }
}



